h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
  position: absolute;
  float: 0;
}

figcaption {
  font-size: 10px;
  text-align: center;
}

#featured-property p {
  margin: auto;
  width: 800px;
  text-align: center;
}